header {
    color: #FFFFFF;
    background: #2a6592;
    display: flex;
    justify-content: center;
    align-items: center;
}

.world{
    height: 150px;
}

#result,
#controls {
    padding: 20px;
    background: #8ec3eb;
    display: flex;
    justify-content: center;
    align-items: center;
}

#lookup{
    background-color: #2db34a;
    color:#FFFFFF;
    border-style: none;
    border-radius: 5px;
    height: 25px;
    margin-left: 3px;
}

#country{
    width: 500px;
    height:25px;
    border-radius: 5px;
    border-style: solid;
}

table {
    border-collapse: collapse;
}

th,
td {
    padding: 10px 15px;
    border-bottom: 1px solid #cecfd5;
    border-right: 1px solid #cecfd5;
    border-left: 1px solid #cecfd5;
}

thead {
    background: #2a6592;
    color: #fff;
}

tbody tr:nth-child(even) {
    background: #f0f0f2;
}
